.container 
  .userlist-card.mb-3 
    %h4.followers-title.text-center.fw-bold.mb-5 フォロー
    .users-list
    - @followings.each do |following|
      %ul
        = link_to user_path(@user), class: 'no-underline' do
          %li.users-list-item
            .users-list-image
              %p= image_tag following.avatar_image, class: 'userlist-avatar'
            .users-list-info
              %p= following.profile.nickname
              %p.users-sporting-event= "競技種目: #{following.profile.sportingevent}"