.container 
  .userlist-card.mb-3 
    %h4.followers-title.text-center.fw-bold.mb-5 フォロワー
    .users-list
    - @users.each do |user|
      %ul
        = link_to user_path(user), class: 'no-underline' do
          %li.users-list-item
            .users-list-image
              %p= image_tag user.avatar_image, class: 'userlist-avatar'
            .users-list-info
              %p= user.username
              %p.users-sporting-event= "競技種目: #{user.profile.sportingevent}"

  = render 'commons/newpostbtns'
        
= render 'commons/footer'