.container#user-show{ data: { user_id: @user.id, following_id: current_user.id}}
  .profile-card-body.text-center
    %h5.card-title.pt-3.mb-4 プロフィール
    = image_tag @user.avatar_image , class: 'profile-image mb-3'
    %p.fs-4.mb-4.fw-bold= @user.display_name
    
    .profilePage_user_have
      .profilePage_user_have_item
        = link_to followers_user_path(@user.id) do
          #follower
            フォロワー
            %span#follower-count= @user.followers.count
            人
      .profile-vertical-line 
      .profilePage_user_have_item
        = link_to following_user_path(@user.id) do
          #follow
            フォロー
            %span#following-count= @user.followings.count
            人
    - if @user != current_user
      .profilePage_user_have_item.mb-3
        .follow-btn.hidden.fw-bold.text-center
          %p フォローする
        .unfollow-btn.hidden.fw-bold.text-center
          %p フォローを外す
      .dm-btn.mb-4  
        = render "contact"

    .profile-sporting-event
      %p.introduction.mb-2 競技種目 
      %p.introduction-content= @user.profile.sportingevent
        

    .profile-introduction.mb-4 
      %p.introduction.mb-2 自己紹介
      %p.introduction-content= @user.profile&.introduction
        

  %ul.tabs
    %li.tabs_item.fw-bold.active
      口コミ投稿一覧
    %li.tabs_item.fw-bold
      レビュー投稿一覧
  
  .panel-group.bg-white.rounded.hover:shadow-2xl.transition.duration-500.ease-in-out.p-6
    .panel.is-show
      - if @user.posts.any?
        .post-card
          .row
            - @user.posts.each do |post|
              .col-sm-3.d-flex
                .post-card-body
                  = link_to post_path(post), class: 'post-link' do
                    = image_tag post.image, class: 'card-img-top'
                    %p.post-title.text-center.no-underline.mb-3= "商品名: #{post.name}"

                    .post-avatar-name.text-center
                      = image_tag post.user.avatar_image, class: 'avatar-image'
                    .review-name
                      %p.text-left.no-underline= post.user.profile.nickname
      - else
        %p.text-center 投稿はありません
    .panel
      - if @review_list.any?
        .post-card
          .row
            - @review_list.each do |post|
              .col-sm-3.d-flex
                .post-card-body
                  = link_to post_path(post), class: 'post-link' do
                    = image_tag post.image, class: 'card-img-top'
                    %p.post-title.text-center.no-underline.mb-3= "商品名: #{post.name}"

                    .post-avatar-name.text-center
                      = image_tag post.user.avatar_image, class: 'avatar-image'
                    .review-name
                      %p.no-underline= post.user.profile.nickname
      -else
        %p.text-center まだありません。

  = link_to new_post_path do
    .float_btn
      %i.fa-2x.fa.fa-pencil-square-o{"aria-hidden" => "true"}

%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri
    
= javascript_pack_tag 'relation.js'
= javascript_pack_tag 'users.js'
    
        
      

      
        
        