- @entries.each do |e|
  - unless e.user.username == current_user.username
    .chat-user-image.text-center
      = link_to user_path(e.user) do
        = image_tag e.user.avatar_image, class: 'chat-avatar'
      %h7.chat-user-name.text-center.fw-bold= "#{e.user.username}"

.chats.mb-5
  - @messages.each do |m|
    -if m.user.id == current_user.id
      .message-right
        %div{id: 'message_#{m.id}'}
          .chatbox.text-right 
            .chat-face1.text-right
              .my-message
                = m.message 
                %br
              .chat-time
                = m.created_at.strftime("%Y-%m-%d %H:%M")
                = form_with(model: @message, url: message_path(m.id), local: false, method: :delete) do |f|
                  = f.hidden_field :room_id, value: @room.id
                  = f.submit '削除', class: 'destroy-btn mb-2'
    - else 
      .message-left 
        .message-avatar.mb-2 
          = image_tag m.user.avatar_image, class: 'chat-avatar'
        .message-text
          = m.message
      .chat-time 
        %p= m.created_at.strftime("%Y-%m-%d %H:%M")


      

