%header 
  = image_tag 'protein.jpeg', class: 'post-container-image'
.container 
  .post-container
    .post-card.mb-5 
      %h2.text-center.mt-3.mb-4.fw-bold Muscle nutriã¨ã¯
      %p.post-discription.text-center ç­‹è‚‰ã®ãŸã‚ã‚„å¥åº·ç¶­æŒã®ãŸã‚ã«ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªã‚’åˆ©ç”¨ã™ã‚‹æ–¹ãŒ
      %p.post-discription.text-center.mb-5 ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªã®æƒ…å ±ã‚’å…±æœ‰ã—ã€è‡ªåˆ†ã¨ãƒžãƒƒãƒã™ã‚‹ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªã‚’é¸ã‚“ã§ã„ãŸã ã‘ã‚‹ã‚ˆã†ã«ä½œã‚‰ã‚ŒãŸã‚µãƒ¼ãƒ“ã‚¹ã§ã™ã€‚
      %h2.text-center.mt-3.mb-4.fw-bold ã“ã®ã‚µãƒ¼ãƒ“ã‚¹ã«è¾¼ã‚ãŸæƒ³ã„
      %p.post-discription.text-center å¥åº·ç¶­æŒã‚„ç­‹ãƒˆãƒ¬å¾Œã®æ „é¤Šè£œçµ¦ã€ç«¶æŠ€ã‚¹ãƒãƒ¼ãƒ„ã§ã®ãƒ‘ãƒ•ã‚©ãƒ¼ãƒžãƒ³ã‚¹å‘ä¸Šã‚’ã™ã‚‹ãŸã‚ã«å¤§äº‹ãªã®ã¯æ „é¤Šè£œçµ¦ã«ãªã‚Šã¾ã™ã€‚
      %p.post-discription.text-center ç¾ä»£ã®äººã€…ã¯æ „é¤ŠãŒåã‚ŠãŒã¡ã§ãƒãƒ©ãƒ³ã‚¹ã‚ˆãæ „é¤Šã‚’å–ã‚Œã¦ã„ã‚‹äººã¯å¤šãã¯ãªã„ã¯ãšã§ã™ã€‚
      %p.post-discription.text-center ãã—ã¦æ „é¤Šè£œçµ¦ã®è³ªã‚’ä¸Šã’ã‚‹ãŸã‚ã«ã¯é£Ÿäº‹ã¨ãƒ—ãƒ©ã‚¹ã§ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªã‚’è£œçµ¦ã™ã‚‹ã“ã¨ãŒè‰¯ã„ã¨ã•ã‚Œã¦ã„ã¾ã™ã€‚
      %p.post-discription.text-center ãã“ã§ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªé¸ã³ã‚’å¤±æ•—ã—ãªã„ã‚ˆã†ã«å£ã‚³ãƒŸãªã©ã§ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªã®æƒ…å ±ã‚’å…±æœ‰ã—åˆã„ã€
      %p.post-discription.text-center è‡ªåˆ†ã«åˆã£ãŸãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã‚„ã‚µãƒ—ãƒªã‚’é¸ã‚“ã§ã„ãŸã ã‘ã‚‹ã‚ˆã†ã«ã€ŒMusclenutriã€ã¯èª•ç”Ÿã—ã¾ã—ãŸã€‚
      %p.post-discription.text-center ã“ã®ã‚µãƒ¼ãƒ“ã‚¹ã‚’ä½¿ã†ã“ã¨ã§ã€å°‘ã—ã§ã‚‚å¤šãã®äººãŒãƒãƒ©ãƒ³ã‚¹ã®è‰¯ã„æ „é¤Šè£œçµ¦ãŒã§ãã€ç«¶æŠ€ã‚¹ãƒãƒ¼ãƒ„ã®ãƒ‘ãƒ•ã‚©ãƒ¼ãƒžãƒ³ã‚¹å‘ä¸ŠãŒã§ãã‚‹ã‚ˆã†ã«é¡˜ã£ã¦ãŠã‚Šã¾ã™ã€‚
  
  %h2.like-lank.text-center ðŸ‘‘ç‰¹ã«äººæ°—ã®é«˜ã„å•†å“

  .post-card
    .row
      .col-sm.d-flex
        .card-body 
          %img.card-img-top{alt: "...", src: "/assets/dns.jpeg"}
          %p.post-title.text-center DNS SP
          %p.card-text ã“ã¡ã‚‰ã®ãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã¯DNSã®SPã«ãªã‚Šã¾ã™ã€‚
      .col-sm.d-flex
        .card-body 
          %img.card-img-top{alt: "...", src: "/assets/bcaa.jpeg"}
          %p.post-title.text-center BCAA XTEND
          %p.card-text ã“ã¡ã‚‰ã¯BCAAã®XTENDã«ãªã‚Šã¾ã™ã€‚
      .col-sm.d-flex
        .card-body 
          %img.card-img-top{alt: "...", src: "/assets/dns2.jpeg"}
          %p.post-title.text-center DNS SP ãƒãƒ§ã‚³ãƒ¬ãƒ¼ãƒˆå‘³
          %p.card-text DNSã®SPã®ãƒãƒ§ã‚³ãƒ¬ãƒ¼ãƒˆå‘³ã«ãªã‚Šã¾ã™ã€‚
      .col-sm.d-flex
        .card-body 
          %img.card-img-top{alt: "...", src: "/assets/eaa.jpeg"}
          %p.post-title.text-center EAA
          %p.card-text ã“ã¡ã‚‰ã¯EAAã®ã‚µãƒ—ãƒªã«ãªã‚Šã¾ã™ã€‚

    %h2.text-center.mb-5 å£ã‚³ãƒŸã•ã‚ŒãŸãƒ—ãƒ­ãƒ†ã‚¤ãƒ³ã¨ã‚µãƒ—ãƒª
    .post-card
      .row
        - @posts.each do |post|
          .col-sm-3.d-flex
            .post-card-body
              = link_to post_path(post), class: 'post-link' do
                = image_tag post.image, class: 'card-img-top'
                %p.post-title.text-center.no-underline= "å•†å“å: #{post.name}"
                %p.product-price.text-center.no-underline= "è³¼å…¥ä¾¡æ ¼: #{post.price}å††"
                %p.card-text.text-center.no-underline= "æ„Ÿæƒ³: #{post.content}"

                = image_tag post.user.avatar_image, class: 'avatar-image'
                .review-name.mt-1
                  %p.text-left.no-underline= post.user.profile.nickname
     
  = link_to new_post_path do
    .float_btn
      %i.fa-2x.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        
%footer.footer.mt-5
  .container
    %p.text-muted.text-center Â©ï¸Ž Copyright 2021 MuscleNutri
          

    
    


