%header
  = image_tag 'facebook_cover_photo_2.png', class: 'post-container-image'
.container 
  .post-container
    .post-card.mb-5 
      %h2.text-center.mt-3.mb-4.fw-bold Muscle nutriとは
      %p.post-discription.text-center 筋肉のためや健康維持のためにプロテインやサプリを利用する方が
      %p.post-discription.text-center.mb-5 プロテインやサプリの情報を共有し、自分とマッチするプロテインやサプリを選んでいただけるように作られたサービスです。
      %h2.text-center.mt-3.mb-4.fw-bold このサービスに込めた想い
      %p.post-discription.text-center 健康維持や筋トレ後の栄養補給、競技スポーツでのパフォーマンス向上をするために大事なのは栄養補給になります。
      %p.post-discription.text-center 現代の人々は栄養が偏りがちでバランスよく栄養を取れている人は多くはないはずです。
      %p.post-discription.text-center そして栄養補給の質を上げるためには食事とプラスでプロテインやサプリを補給することが良いとされています。
      %p.post-discription.text-center そこでプロテインやサプリ選びを失敗しないように口コミなどでプロテインやサプリの情報を共有し合い、
      %p.post-discription.text-center 自分に合ったプロテインやサプリを選んでいただけるように「Musclenutri」は誕生しました。
      %p.post-discription.text-center このサービスを使うことで、少しでも多くの人がバランスの良い栄養補給ができ、競技スポーツのパフォーマンス向上ができるように願っております。
  
  %h3.like-lank.text-center.fw-bold レビュー平均点数が高いプロテインやサプリ

  .post-card
    .row
      - @review_ranks.each.with_index(1) do |post, i|
        .col-sm-3.d-flex
          .card-body 
            = link_to post_path(post), class: 'post-link' do
              %p.post-title.text-center.no-underline.mb-3.fw-bold= "商品名: #{post.name}"                         
              = image_tag post.image, class: 'card-img-top'

  .post-card.text-center
    .row.mb-5
      .col.d-flex
        .chart-card-body.text-center
          %h3.fw-bold サービス利用者の競技種目別割合
          = pie_chart Profile.group(:sportingevent).count

      .col  
        .tag-card-body     
          .h3.post-tag-title.text-center.mb-5.fw-bold 人気のタグ
          .tag-list.text-center.no-underline.mb-5
            - @tag_ranks.each.with_index(1) do |list,i|
              .tag-count
                = link_to "##{list.tag_name}", tag_posts_path(tag_id: list.id), class: 'text-center tag-name mb-5'
                %span.tag-count-item= "#{list.posts.count}"

  %h2.text-center.mb-3.fw-bold 口コミされたプロテインとサプリ
  .post-card
    .row
      - @posts.each do |post|
        .col-sm-3.d-flex
          .post-card-body
            = link_to post_path(post), class: 'post-link' do
              %p.post-title.text-center.no-underline.mb-3.fw-bold= "商品名: #{post.name}"
              - if post.image.attached?
                = image_tag post.image, class: 'card-img-top'

              .post-avatar-name.text-center
                = image_tag post.user.avatar_image, class: 'avatar-image'
                .review-name
                  %p.text-left.no-underline= post.user.profile.nickname
                  %p.post-sportingevent= "競技種目: #{post.user.profile.sportingevent}"
    = paginate @posts
     
  = link_to new_post_path do
    .float_btn
      %i.fa-2x.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        
%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri
          

    
    


