.container
  .post-card-body-show.mt-5#post-show{data: {post_id: @post.id}}
    = image_tag @post.image, class: 'card-img-top'
    %p.post-title.text-center.no-underline= "商品名: #{@post.name}"
    %p.product-price.text-center.no-underline= "購入価格: #{@post.price}円"
    %p.card-text.text-center.no-underline.mb-4= "感想: #{@post.content}"

    .tag-list.text-center.mb-3
      - @post_tags.each do |tag|
        .tag-count
          = link_to "##{tag.tag_name}", tag_posts_path(tag_id: tag.id)

    - if user_signed_in?
      .post-heart-btn
        .post-heart.active-heart.hidden{id: @post.id}
          = image_tag 'heart.svg', class: 'like-btn'
        .post-heart.inactive-heart.hidden{id: @post.id}
          = image_tag 'inactive-heart.svg', class: 'like-btn'
        .like-count 
          %p= @post.likes.count

    .post-avatar-name.text-center
      = image_tag @post.user.avatar_image, class: 'avatar-image mb-2'
      .review-name.mt-1.text-center.mb-2
        %p.text-left.no-underline= @post.user.profile.nickname
    
    %p.text-center.mb-3 レビューを投稿

    .rating-box.mt-3.text-center
      = form_with(model: @review, url: post_reviews_path(@post), method: 'post', local: true) do |f|
        .main-rating.text-center
          .ratings
            %span.i.fa.fa-star-o#star
            %span.i.fa.fa-star-o#star
            %span.i.fa.fa-star-o#star
            %span.i.fa.fa-star-o#star
            %span.i.fa.fa-star-o#star
          
          .ml-3.rating-value-display.mb-3
            %span#rating-value-display> 0
            \/5 
        .review-hidden-field
          = f.hidden_field :post_id, value: @post.id
        .score-hidden-field
          = f.hidden_field :score, id: 'rating-value'
        .textarea-review
          = f.text_area :content, placeholder: '(例) 口コミ通りこのプロテインはとても味がよく飲みやすかったので、リピートします！'
        .review-button
          = f.submit 'レビューする', class: 'review-btn mt-3 mb-4'
        .review-show-button 
          = link_to 'レビューを見る', post_reviews_path(@post), class: "review-button2 btn btn-danger fw-bold", style: 'padding: 12px; border-radius: 30px;'
        
= link_to new_post_path do
  .float_btn
    %i.fa-2x.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        
%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri

= javascript_pack_tag 'like.js'
= javascript_pack_tag 'review.js'