.container 
  %h2.tag-title.text-center.mt-4
    = "##{@tag.tag_name}"
    のタグの投稿 #{"#{@posts.count}件"}

  .tag-post-card
    .row
      - @posts.each do |post|
        .col-sm-3.d-flex
          .post-card-body
            = link_to post_path(post), class: 'post-link' do
              - if post.image.attached?
                = image_tag post.image, class: 'card-img-top'
              %p.post-title.text-center.no-underline.mb-3= "商品名: #{post.name}"

              .post-avatar-name.text-center
                = image_tag post.user.avatar_image, class: 'avatar-image'
                .review-name
                  %p.text-left.no-underline= post.user.profile.nickname
  = paginate @posts

  = render 'commons/newpostbtns'

%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri
          