!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Musclenutri
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{crossorigin: "anonymous", href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-info.w-100
      .container-fluid
        %a.navbar-brand.fs-3.fw-bolder.text-white.nav-title{href: "#"} Musclenutri
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        .navber-right
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0.mr-auto
            -# %li.nav-item
            -#   %a.nav-link.active{"aria-current" => "page", href: "#"} ホーム
            %li.nav-item
              %a.i.fa.fa-home.nav-link.text-white.fw-bold{href: "/"} ホーム
            %li.nav-item
              %a.i.fa.fa-user.nav-link.text-white.fw-bold{href: "/profile"} プロフィール
            %li.nav-item
              %a.i.fa.fa-shopping-cart.nav-link.text-white.fw-bold{href: "#"} 商品検索
            %li.nav-item
              %a.i.fa.fa-users.nav-link.text-white.fw-bold{href: "#"} ユーザー一覧
            - if user_signed_in?
              %li.nav-item
                = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white i fa fa-sign-out fw-bold'
            - else
              %li.nav-item
                %a.i.fa.fa-sign-in.nav-link.text-white.fw-bold{href: "/users/sign_in"} ログイン
            -# %li.nav-item.dropdown
              -# %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
                Dropdown
              -# %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              -#   %li
              -#     %a.dropdown-item{href: "#"} Action
              -#   %li
              -#     %a.dropdown-item{href: "#"} Another action
              -#   %li
              -#     %hr.dropdown-divider/
              -#   %li
              -#     %a.dropdown-item{href: "#"} Something else here
              -#   %li.nav-item
              -#     %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"} Disabled
          -# %form.d-flex
            -# %input.form-control.me-2{"aria-label" => "Search", placeholder: "Search", type: "search"}/
            -# %button.btn.btn-outline-success{type: "submit"} Search
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{class: key}= value
    = yield
